@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Admin Menu</p>
    <a href="/CRUD/PhoneCRUD/IndexAdmin">Phone Admin</a><br />
    <a href="/Roles/Index">Roles</a><br />
    <a href="/CRUD/OrderCRUD/Index">Order Admin</a><br />



    <a href="/Cart/Index">CartIndex</a><br />
    <a href="/Roles/UserModels">UserModels</a><br />
    <a href="/Cart/Payment">Payment</a><br />
    <a href="/Order/OrderList">Orders</a><br />





</div>