@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<a href="/CRUD/PhoneCRUD/Index">Phone</a><br/>
    <a href="/CRUD/PhoneCRUD/IndexAdmin">Phone</a><br />

</div>